@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Questrial", sans-serif;
}

a {
    text-decoration: none;
    font-size: 14px;
    line-height: 23px;
    color: #000;
    text-shadow:
        -0.1px -0.1px 0px black,
        0.1px -0.1px 0px black,
        -0.1px 0.1px 0px black,
        0.1px 0.1px 0px black;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
    color: #000;
}